.form-section {
    @include flex (center, center, row);
    min-height: 80vh;
    margin-top: 3rem;

    form {
        @include flex (center, center, column);
        padding: 3rem 10rem;
        box-shadow: 10px 10px 30px rgba($color: #d9d9d9, $alpha: 0.5),
            -10px -10px 30px rgba($color: $white, $alpha: 0.5);
        border-radius: 2rem;

        label {
            font-size: 1.5rem;
            font-family: 'GoogleSans';
            background: $pink;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        input,
        textarea {
            color: $grey;
            font-family: 'GoogleSans', sans-serif;
            margin: 2rem;
            border-radius: 1rem;
            padding: 2rem 1rem;
            width: 100%;
            border: none;
            box-shadow: inset 5px 5px 10px #d9d9d9,
                inset -5px -5px 10px #ffffff;
            ;

            &:focus {
                background: $white;
                box-shadow: inset 5px 5px 10px #d9d9d9,
                    inset -5px -5px 10px #ffffff;
            }
        }

        button {
            font-size: 1.5rem;
            font-family: 'GoogleSans', sans-serif;
            outline: none;
            border-radius: 1.5rem;
            border: none;
            width: 100%;
            padding: 2rem;
            background: $dusk;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            box-shadow: 5px 5px 10px #d9d9d9,
                -5px -5px 10px #ffffff;

            &:focus,
            &:active {
                background: linear-gradient(145deg, $pink, $blue);
                -webkit-box-shadow: inset 15px 15px 20px -20px rgba(0, 0, 0, .5);
                -webkit-text-fill-color: $white;
                -moz-box-shadow: inset 15px 15px 20px -20px rgba(0, 0, 0, .5);
                box-shadow: inset 15px 15px 20px -20px rgba(0, 0, 0, .5);
                border: none;
            }
        }
    }
}