@font-face {
    src: url('fonts/Tenre\ Modern.ttf');
    font-family: 'Tenre';
}

@font-face {
    src: url('fonts/Sequel-Regular.ttf');
    font-family: 'Sequel';
}

@font-face {
    src: url('fonts/GoogleSans-Bold.ttf');
    font-family: 'GoogleSans';
}