// Header
.main-header {
    width: 95%;
    margin: 0 0 0 auto;
}


nav {
    @include flex(space-between, center, row);
    min-height: 10vh;
    flex-wrap: wrap;

    .logo {
        @include flex(flex-start, center, row);
        flex: 1 1 10rem;

        h1 {
            margin: 2rem;
            font-family: 'Odachi';
            font-size: 3rem;
            color: $pink;
        }
    }

    ul {
        @include flex(space-around, center, row);
        flex: 1 1 40rem;

        a {
            color: $white;
            font-size: 2.5rem;
            font-family: 'Odachi';
        }
    }
}

.home {
    color: $pink;
}

// Intro
.intro {
    min-height: 90vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    @include flex(space-between, center, row);

    h2 {
        font-family: 'Odachi';
        font-size: 8rem;
        padding: 2rem 0 0 0;
        background: $dusk;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        letter-spacing: 0.5rem;
    }
}



h3 {
    font-family: 'GoogleSans';
    font-size: 4rem;
    padding: 2rem 0;
    color: $primary;


}

p {
    font-family: 'Blanka';
    font-size: 1.5rem;
    font-weight: 400;
    width: 90%;
    letter-spacing: 0.2rem;
    padding: 2rem 0 0 0;
    color: $grey;
}

.intro-social {
    margin: 4rem 0 0 0;

    a {
        margin: 0 5rem 0 0;

    }

}

.active {
    background: linear-gradient(145deg, $pink-1, $pink);
    ;
    color: $white;
    padding: 1rem 3rem;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 10px #d9d9d9,
        -5px -5px 10px #ffffff;
}

.intro-text,
.intro-images {
    flex: 1 1 40rem;
}


.splash {
    position: absolute;
    height: 100%;
    top: 0%;
    right: 0%;
    z-index: -1;
    overflow: hidden;
}

#plant-left {
    animation: leaf 1.5s ease infinite alternate;
}

#plant-right {
    animation: leaf 1.5s ease infinite alternate 0.5s;
}

#me {
    animation: meMove 1s ease infinite alternate;
    transform-origin: bottom;
}

#clock-arrow {
    animation: clock 360s linear infinite;
    transform-box: fill-box;
    transform-origin: bottom;

}

@keyframes meMove {
    from {
        transform: rotateZ(-5deg);
    }

    to {
        transform: rotateZ(5deg);

    }
}

@keyframes clock {
    from {
        transform: rotateZ(0deg);

    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes leaf {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-30%);
    }
}