@font-face {
  src: url("fonts/Tenre Modern.ttf");
  font-family: 'Tenre';
}

@font-face {
  src: url("fonts/Sequel-Regular.ttf");
  font-family: 'Sequel';
}

@font-face {
  src: url("fonts/GoogleSans-Bold.ttf");
  font-family: 'GoogleSans';
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a,
p,
li,
label,
input,
button {
  font-size: 1.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #575757;
}

ul {
  list-style: none;
}

.main-header {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin: 2rem;
  font-family: 'Odachi';
  font-size: 3rem;
  color: #a05195;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

nav ul a {
  color: #fafafa;
  font-size: 2.5rem;
  font-family: 'Odachi';
}

.home {
  color: #a05195;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h2 {
  font-family: 'Odachi';
  font-size: 8rem;
  padding: 2rem 0 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffecb3), color-stop(#e85285), to(#6A1B9A));
  background: linear-gradient(#ffecb3, #e85285, #6A1B9A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  letter-spacing: 0.5rem;
}

h3 {
  font-family: 'GoogleSans';
  font-size: 4rem;
  padding: 2rem 0;
  color: #003f5c;
}

p {
  font-family: 'GoogleSans';
  font-size: 1.5rem;
  font-weight: 400;
  width: 90%;
  letter-spacing: 0.2rem;
  padding: 2rem 0 0 0;
  color: #575757;
}

.intro-social {
  margin: 4rem 0 0 0;
}

.intro-social a {
  margin: 0 5rem 0 0;
}

.active {
  background: linear-gradient(145deg, #d45087, #a05195);
  color: #fafafa;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
  -webkit-box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
}

.intro-text,
.intro-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.splash {
  position: absolute;
  height: 100%;
  top: 0%;
  right: 0%;
  z-index: -1;
  overflow: hidden;
}

#plant-left {
  -webkit-animation: leaf 1.5s ease infinite alternate;
          animation: leaf 1.5s ease infinite alternate;
}

#plant-right {
  -webkit-animation: leaf 1.5s ease infinite alternate 0.5s;
          animation: leaf 1.5s ease infinite alternate 0.5s;
}

#me {
  -webkit-animation: meMove 1s ease infinite alternate;
          animation: meMove 1s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#clock-arrow {
  -webkit-animation: clock 360s linear infinite;
          animation: clock 360s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes meMove {
  from {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
}

@keyframes meMove {
  from {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  to {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes leaf {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes leaf {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects h2 {
  margin: 5rem;
  font-family: 'Odachi';
  font-size: 3rem;
  color: #2f4b7c;
}

.projects img {
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 5px rgba(87, 87, 87, 0.5);
          box-shadow: 0px 5px 5px rgba(87, 87, 87, 0.5);
}

.travelly,
.vgophoto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 80vh;
  margin-top: 3rem;
}

.form-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 10rem;
  -webkit-box-shadow: 10px 10px 30px rgba(217, 217, 217, 0.5), -10px -10px 30px rgba(250, 250, 250, 0.5);
          box-shadow: 10px 10px 30px rgba(217, 217, 217, 0.5), -10px -10px 30px rgba(250, 250, 250, 0.5);
  border-radius: 2rem;
}

.form-section form label {
  font-size: 1.5rem;
  font-family: 'GoogleSans';
  background: #a05195;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-section form input,
.form-section form textarea {
  color: #575757;
  font-family: 'GoogleSans', sans-serif;
  margin: 2rem;
  border-radius: 1rem;
  padding: 2rem 1rem;
  width: 100%;
  border: none;
  -webkit-box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff;
          box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff;
}

.form-section form input:focus,
.form-section form textarea:focus {
  background: #fafafa;
  -webkit-box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff;
          box-shadow: inset 5px 5px 10px #d9d9d9, inset -5px -5px 10px #ffffff;
}

.form-section form button {
  font-size: 1.5rem;
  font-family: 'GoogleSans', sans-serif;
  outline: none;
  border-radius: 1.5rem;
  border: none;
  width: 100%;
  padding: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffecb3), color-stop(#e85285), to(#6A1B9A));
  background: linear-gradient(#ffecb3, #e85285, #6A1B9A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
}

.form-section form button:focus, .form-section form button:active {
  background: linear-gradient(145deg, #a05195, #2f4b7c);
  -webkit-box-shadow: inset 15px 15px 20px -20px rgba(0, 0, 0, 0.5);
  -webkit-text-fill-color: #fafafa;
  box-shadow: inset 15px 15px 20px -20px rgba(0, 0, 0, 0.5);
  border: none;
}

footer {
  min-height: 10vh;
  padding: 0% 5%;
  color: #fafafa;
  background: #003f5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer h4 {
  font-family: 'Odachi', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

footer img {
  width: 25px;
}

@media screen and (max-width: 1330px) {
  html {
    font-size: 53%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
  nav ul a {
    color: #003f5c;
    font-size: 3rem;
  }
}

@media screen and (max-width: 754px) {
  html {
    font-size: 45%;
  }
  svg {
    height: 60%;
  }
  .main-header {
    width: 100%;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 3rem 0 0 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70rem;
            flex: 1 1 70rem;
  }
  nav ul a {
    color: #003f5c;
    font-size: 4rem;
  }
  .intro-text {
    text-align: center;
    margin: 5rem 0 0 0;
  }
  .intro-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .travelly,
  .vgophoto {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50rem;
            flex: 1 1 50rem;
  }
  .travelly img,
  .vgophoto img {
    width: 100%;
    height: 100%;
  }
  form {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */